body {
    background-color: #f6f5f5;
    margin-right: 0px;
    padding: 0px;
    overflow-x: hidden; /* Hide horizontal scrollbar */



}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*  estilo navegador */



.btn {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    background-color: #ffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 40px;
    
    
    
}

nav ul{ 
    display: flex;
    padding: 40px;

}

nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    

}

.logo {
    font-family: arial;
    color: #000000;
    font-size: 23px;

}

.active {
    font-weight: bold;
    color: #2a2a2a;

}

.conteudo-texto p:nth-child(1) {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #1f1d1d;
    font-size: 22px;

}

.conteudo-texto p:nth-child(2) {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #181414;
    letter-spacing: 1px;
    font-size: 60px;


}

.conteudo-texto p:nth-child(2) {
    font-family: 'Courier New', Courier, monospace;
    color: #2a2a2a;
    font-size: 30px;
    line-height: 30px;


    


}

.conteudo-texto {
    position: absolute;
    left: 17%;
    top: 44%;
    transform: translate(-13%, -42%);
    line-height: 0px;
    margin: 45px 0px 25px;
    padding-right: 40px;
}

.conteudo-texto button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;

}

.btn1 {
    border: 2px solid #373636;
    color: #373636;
}

.btn2 {
    background-color: #2a2a2a;
    border: none;
    color: #e2dcdc;
}


button:active {
    transform: scale(1.1);
}


/* estilo de imagen fundo banner */

.imgbg {
    height: 400px;
    position: absolute;
    bottom: 60px;
    left: 78%;
    transform: translatex(-70%);
    padding: 40px;
}


.conteudo-sobre {   
    width: 80%;
    height: 330px;
    background-color: #2e6f8d;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
    
}

.texto-sobre {
    color: #f1ecec;
    width: 550px;
    position: absolute;
    left: 10%;
}

.projetos {
    width: 80%px;
    height: 350px;
    background-color: #d8d8d8;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    display: flexbox;
    left: 0%;
    bottom: 60px;
    top: 10px;
    position: relative;
    text-align: center;
    
    
}



.img2 {
    width: 400px;
    position: absolute;
    left: 45%;
    top: 15px;

}




.conteudo-sobre p:nth-child(1) {
    color: #f3ecec;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}


.texto-sobre button {
    width: 120px;
    height: 40px;
    color: #f1ecec;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
}

/* Formulario*/


.form {
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
    background-color: #2e6f8d;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    position: relative;
    top: 30px;   
   
    
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    margin-top: -40px;
    
    
}

.form-tittle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: .8rem 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb;
    border-radius: 2px
}

.form-input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}


.form-cta {
    font-size: 1rem;
    background-color: #9ad4ec;
    color: rgb(22, 16, 16);
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    
}

footer {
    left: 46%;
    position: relative;
    top: 50px;
}

/*Media Queries*/

@media screen and (max-width: 850px) {
    .imgbg {
        width: 100px 100px;
        top: 40px;
        position: absolute;
    }
}

@media screen and (max-width: 850px) {
    .conteudo-texto {
        width: 100%;
        height: auto;
        margin-top: 300px;
        position: relative;

        

    }
    .conteudo-sobre {
        width: 250x;
        margin-top: 300px;
        position: relative;
        height: 470px;

    }

    .texto-sobre {
        width: 220px;
        
    }

    .texto-sob1 {
        font-size: small;
        text-align: auto;
    }

    .img2 {
        display: none;
        
        
    }
   

    .btn {
        display: block;
        border: 2px solid #373636;
        color: #373636;
    }

    



    .projetos {
        display: none;



    }

    .form {
        width: 200px;
    }
    
    #nav.active #menu {
        display: none;

    }

    #menu {
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: transparent;
        height: calc(100vh - 70px);
        z-index: 1000;
        display: none;
    }
    .foot {
        align-items: center;
    }
    
}








